* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
}



body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 0.3rem;
	margin-top: 0.1rem;
	border-top: 1px solid gray;
	position: sticky;
	top: 0;
}

nav .nav-logo, nav .nav {
	margin: 0rem;
	display: inline;
}

.right-nav {
	float: right;
}

nav .nav, nav .tuitt-button {
	text-align: left;
	padding: 0.5rem;
}

nav .tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .65rem;
	padding: .5rem;
}



#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size: cover;
	margin-bottom: ;
	min-height: 30vh;

}

.front-bg {
	background-color: rgba(0, 0, 0, .5);
	min-height: 30vh;
	/*text-align: justify;*/
}



.container {
	color: white;
	text-align: right;
	font-size: 10px;
	left: 45vw;
	width: 40vw;
	display: inline-block;
	margin-left: 50%;
}


.container h1 {
	font-size: 20px;
	margin-bottom: 2rem;
	margin-top: 1rem;
	font font-family: 'Zilla Slab';
}


.apply-button {
	margin-top: 1rem;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .7rem;
	padding: .7rem;
}


/*text insde bg*/

/*#bg-image .front-bg {
	margin-left: 50%;
	margin-right: 10%;
}*/


/*developer career program*/

.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.title-2 {
	text-align: center;
	margin-bottom: 1rem;
	font-family: 'Zilla Slab';
}

.pre-footer {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: #f7fbfb;
}

.pre-footer h2{
	text-align: center;
}

.pre-footer {
	text-align: center;
	margin-bottom: 1rem;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: .7rem;
	padding: .7rem;
	margin-top: .5rem;
	margin-bottom: .5rem;

}


footer{
	text-align: center;
}








